.features {
  position: relative;
  min-height: 478px;
  width: 100%;
  padding: 80px;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  height: 92px;
  left: 32px;
  right: 32px;
  top: 0px;
}

.features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 1216px;
  height: 92px;
}

.features-title {
  width: 233.88px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #111827;
  margin: 0;
}

.features-subtitle {
  width: 395.53px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4B5563;
  margin: 0;
}

.features-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  position: absolute;
  height: 180px;
  left: 32px;
  right: 32px;
  top: 172px;
}

.feature-card {
  width: 362.66px;
  height: 180px;
  position: relative;
}

.feature-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 64px;
  height: 64px;
  left: calc(50% - 64px/2);
  top: 0px;
  background: #F3F4F6;
  border-radius: 12px;
}

.feature-title {
  position: absolute;
  height: 28px;
  left: 0px;
  right: 0px;
  top: 88px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #111827;
  margin: 0;
}

.feature-description {
  position: absolute;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 132px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4B5563;
  margin: 0;
}

.features-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  height: 62px;
  left: 32px;
  right: 32px;
  top: 416px;
}

.features-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 214.25px;
  height: 62px;
  border: 1px solid #D1D5DB;
  border-radius: 12px;
  background: transparent;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #111827;
  cursor: pointer;
}

