:root {
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --color-text: #232129;
  --color-bg: #ffffff;
  --color-primary: #663399;
  --color-secondary: #ffb238;

  --size-gap: 1.5rem;
  --size-spacing: 1.0875rem;
  --size-content: 960px;
  --font-sm: 0.875rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: var(--color-text);
  font-family: var(--font-sans);
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  overflow-x: hidden;
}
